p {
    color: blue;
    font-size: xx-large;
    }
h3 {color: green}
span {color: yellow;}
h1 {color: blueviolet;}

p, h1, h2 {
    color: green;
   }

#mediumFontSize {
    font-size: 140px;
   }

.mediumFontSize {
    color: aqua;
   }

.mediumFontSize1 {
    font-size: 80px;
    text-decoration: underline red double 1.5px;
   }
   
input[disabled] {
    border: 1px solid red;
   }
   
/* * {
    text-align: center;
   }   */

a:hover {
    color: green;
    border: 1px solid red;
   }

p::first-letter {
    color: orange;
    font-size: xx-large;
   }

 /* div p {
    background-color: yellow;
   } */

/* div > p {
    background-color: yellow;
   } */
   
/* div + p {
    background-color: yellow;
   } */

/* div ~ p {
    background-color: yellow;
   } */

/* div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 80px;
   } */

/* div {
    padding: 50px 30px 40px 80px;
   } */

div {
    padding: 50px 300px;
    border: solid 10px;
    margin: 20px 120px;
    color: #7b2fff;
   }
   